@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bungee+Tint&display=swap');

.addTaskForm{
    margin-top:50px;
}

.TitleSection input{
    width: 90%;
    padding: 15px 10px;
    transition: outline 400ms ease;
}

.TitleSection input:focus{
    outline: 3px solid rgb(0, 136, 255);
    transition: outline 400ms ease;
}

.descriptionSection{
    margin-bottom: 20px;
}

.descriptionSection textarea{
    width: 90%;
    padding: 15px 10px;
    transition: outline 400ms ease;

}

.descriptionSection textarea:focus{
    outline: 3px solid rgb(0, 136, 255);
    transition: outline 400ms ease;

}

.submitButton{
    padding: 8px 8px;
    font-family: "Baskervville SC", serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(0, 132, 255);
    color: white;
    transition: transform 400ms ease;
}

.submitButton:hover{
    transform: scale(1.15);
    transition: transform 400ms ease;
}

.inputTitle::placeholder{
    font-family: "Baskervville SC", serif;
    font-weight: 800;
    font-style: normal;
    color: black;
}

.inputDescription::placeholder{
    font-family: "Baskervville SC", serif;
    font-weight: 800;
    font-style: normal;
    color: black;
}

.addNewTask{
    text-align: center;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;    
}
