@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bungee+Tint&display=swap');


body{
    background-color: antiquewhite;
}

.parentComponent{
    padding: 20px;
}

.mainHeading{
    text-align: center;
    font-family: "Bungee Tint", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.addTask {
    font-family: "Baskervville SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 1s ease;  /* for transition to end smoothly you have to use transition property in its original state also*/

}

.addTask:hover {
    transform: scale(1.15);
    transition: transform 1s ease;  /*this transition property applies only when we hover mouse over button*/
}

.enterTitle {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px black solid;
    transition: outline 100ms ease;
}

.enterTitle:focus{
    outline: 3px solid rgb(0, 145, 255);    
}

.cards{
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; /* Adds space between items */
    width: 100%; /* Ensure enough space for the items */
}


